.root {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 10rem;
  padding: 0.5rem 2rem 0.5rem 0.75rem;

  font-size: 1rem;
  font-family: var(--font);
  line-height: 1.5;
  color: var(--color-darker);
  background-color: #fff;
  border: 1px solid var(--color-neutral);

  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;

  cursor: pointer;

  background-image: url("data:image/svg+xml;utf8,<svg fill='%236f6f6f' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;

  &.outlined {
    border-radius: var(--radius-sm);
    &:hover {
      border-color: var(--color-dark);
    }

    &:focus {
      outline: none;
      border-color: var(--color);
      box-shadow: var(--focus-ring);
    }

    &:active {
      background-color: var(--color-lighter);
      border-color: var(--color-dark);
    }

    &:disabled {
      color: var(--color-neutral);
      background-color: var(--color-lighter);
      border-color: var(--color-light);
      cursor: not-allowed;
      background-image: none;
    }
  }

  &.contained {
    border-radius: var(--radius-sm);
    background-color: var(--color-light);
    color: var(--color-darker);
    border-color: var(--color);

    &:hover {
      border-color: var(--color-dark);
    }

    &:focus {
      border-color: var(--color-dark);
      box-shadow: var(--focus-ring);
    }

    &:active {
      border-color: var(--color-darker);
    }

    &:disabled {
      background-color: var(--color-light);
      border-color: var(--color-light);
      color: #fff;
    }
  }

  &.text {
    background-color: transparent;
    color: var(--color);
    border-color: transparent;
    border-bottom-color: var(--color);

    &:hover {
      border-bottom-color: var(--color-darker);
    }

    &:active {
      border-color: transparent;
      background-color: var(--color-lighter);
    }

    &:focus {
      box-shadow: var(--focus-ring);
      border-color: transparent;
    }

    &:disabled {
      background-color: transparent;
      border-bottom-color: var(--color-light);
      color: var(--color-light);
    }
  }
}

.root:focus-visible {
  box-shadow: none;
  outline: none;
}
